h1{
    color:rgb(235, 29, 29);
    background-color:lightskyblue;
    width: 200px;
    height : 100px;
}

.red{
    color:rgb(245, 41, 41);
    background-color: yellowgreen;
}

.green{
    color:rgb(160, 251, 24);
    background-color: purple;
}

#four{
    color:red;
    background-color: rgb(252, 132, 252);
}
 ul{
     list-style-type: lower-roman;
 }